<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signup</title>
</head>

<body>
    <form method="post" action="">
        {% csrf_token %}
        <label for="psw"><b>Otp</b></label>
        <input type="number" placeholder="Enter Password" name="psw" required />
        <button type="submit" class="signupbtn">Login</button>
    </form>
</body>

</html>